# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "MChtkPJ/BvI8J0LZe+36BaJIIZNN2NtMPVVAvnlNszgJ98K2qQ6W6WPhSixq9wqvkW0+6Gnwp1Hu/tpe6V9JIJXY1Xe6w2gA4TO6FWFKSiGiy1JL25FJvBPyXstQXABsy6T+ZSVM46ziHOc3kzQFOnSAUSsKTauKq3K1jB0lrNaCehlCh9T/xr+T8ffs1aulGe0GPGxb5L3U7poN8EJ6Bik3Yj3c/0rprMI7lsqsegDOK6qP3DvetpwTkrlaq+i9/4qS/2m7nCA1KMyTBHsz+TLAtVfeAHYHR0/ieBR83myqH/OOK6amND3Yru/6sbx62Ld5UUJUaD7zAlUV0e0d+mrlIsnbyTwEPpIoJfSy+EnR5uQi2MaOF9IlPubXQXOithLKwW0BPPZsINO+YvLXrnoiIwE1N2FAHVQlvh03vSghwMFoCtc9votx19rscxv5YLVNKTMtrxDw6RVCBJwwxw7A+QePLxliK/ZOXAoq4fWFtQc+Yu2rePI0sbfD+T/UbClibZjxHTgFU87XBP5L92LdRNWeYm5T2kVXS+L4rGMtuDHs+vIltBmhihiW8RLOY3myeVTz7/iN2XFL4qsPZhO1EVARhnZ735aJTIg81/3Ayz33RCnZybzlLys5sgVkQvwqZ1H8solQm6nNTkjGu6Dan1Uug0hJqxGoZQy6SMI="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install --yes --quiet conda-forge::conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml
